<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181903883226-bqtdptltc7o4thh5ambjp8kblkpilfjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181903883226-bqtdptltc7o4thh5ambjp8kblkpilfjk</string>
	<key>API_KEY</key>
	<string>AIzaSyDhLGKQs0fDBaf-pSRtqknsk0xBsFYyMIM</string>
	<key>GCM_SENDER_ID</key>
	<string>181903883226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.equineAi</string>
	<key>PROJECT_ID</key>
	<string>equine-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>equine-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181903883226:ios:8035a7e83674847ad11ee3</string>
</dict>
</plist>